@font-face { font-family: Poppins-Regular; src: url('/Poppins/Poppins-Regular.ttf'); } 
@font-face { font-family: Poppins-Medium; src: url('/Poppins/Poppins-Medium.ttf'); } 
@font-face { font-family: Poppins-Light; src: url('/Poppins/Poppins-Light.ttf'); } 
@font-face { font-family: Poppins-Thin; src: url('/Poppins/Poppins-Thin.ttf'); } 



/* @font-face { font-family: Poppins; font-weight: bold; src: url('/Poppins/Poppins-Bold.ttf'); }  */

.main-content{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-top: 10%;
  column-gap: 5px;
}

.book-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

h1 { 
    font-family: Poppins-Medium, sans-serif; 
    color: black;
}

h3 {
    font-family: Poppins-Regular, sans-serif;
    font-size: large;

}

p {
    font-family: Poppins-Light, sans-serif;
    font-size: medium;

}

a {
  font-family: Poppins-Light, sans-serif;
}


  a:link {
    color: grey;
    background-color: transparent;
  }
  
  a:visited {
    color: grey;
    background-color: transparent;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {  

  .book-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }


  a {
    font-family: Poppins-Light, sans-serif;
    font-size: 15px;
  }
  p {
    font-family: Poppins-Light, sans-serif;
    font-size: 15px;
  }

  .bottom-link {
    padding: 30px 50px 30px 0px;
  }
} 