@font-face { font-family: Poppins-Regular; src: url('/Poppins/Poppins-Regular.ttf'); } 
@font-face { font-family: Poppins-Medium; src: url('/Poppins/Poppins-Medium.ttf'); } 
@font-face { font-family: Poppins-Light; src: url('/Poppins/Poppins-Light.ttf'); } 
@font-face { font-family: Poppins-Thin; src: url('/Poppins/Poppins-Thin.ttf'); } 



/* @font-face { font-family: Poppins; font-weight: bold; src: url('/Poppins/Poppins-Bold.ttf'); }  */

.main-content{
  display: flex;
  flex-direction: column;
  padding: 10%;
  padding-top: 10%;
  column-gap: 5px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

h1 { 
    font-family: Poppins-Medium, sans-serif; 
    color: black;
}

h2 { 
  font-family: Poppins-Medium, sans-serif; 
  color: black;
}

h3 {
    font-family: Poppins-Regular, sans-serif;
    font-size: large;

}

p {
    font-family: Poppins-Light, sans-serif;
    font-size: medium;

}

mark.cornell {
    background: none;
    color: #8C271E;
}

a {
  font-family: Poppins-Light, sans-serif;
}

a:link {
    color: grey;
    background-color: transparent;
  }
  
  a:visited {
    color: grey;
    background-color: transparent;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  

  /* Media Section */

  .media-text {
    padding-top: 20px;
  }

  .book-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
/* mobile view */
@media (max-width: 768px) {  
  h1 {
    font-size: 30px;
  }

  .links {
    flex-direction: column;
    align-items: flex-start;
  }

  .book-row {
    flex-direction: column;
    gap: 30px;
  }

  .book {
    align-items: flex-start;
    text-align: left;
    width: 100%;
  }

  .book img {
    width: 100%;
    max-width: 250px;
    align-self: flex-start;
  }

  a {
    font-family: Poppins-Light, sans-serif;
    font-size: 15px;
  }
  p {
    font-family: Poppins-Light, sans-serif;
    font-size: 15px;
  }
} 

@media (max-width:991px) {
  .app-store-screenshots {
    display:none;
  }
}

/* Blog specific styles */
.blog-content {
    max-width: 65ch;  /* ch unit is the width of the "0" character, roughly limiting to 65-70 characters per line */
    margin: 0 auto;   /* Center the content */
    line-height: 1.6; /* Improve readability with better line height */
}

.blog-content p {
    margin-bottom: 1.5em;  /* Add space between paragraphs */
    text-align: justify;   /* Clean text alignment */
}

.subtitle {
    font-style: italic;
    color: #666;
    margin-bottom: 2em;
}

.date {
    color: #666;
    font-size: 0.9em;
}

/* Ensure lists in blog posts are properly formatted */
.blog-content ol, .blog-content ul {
    margin-left: 2em;
    margin-bottom: 1.5em;
}

.blog-content li {
    margin-bottom: 0.5em;
}

body, p, li, ul, ol {
    font-family: 'Poppins', sans-serif;
}


